@import './variables.scss';

.page {
  padding: 30px 30px 200px 30px;
  min-height: 100vh;
  background: $bgColor;
}

.safe-bottom {
  bottom: calc(constant(safe-area-inset-bottom) + 200px);
  bottom: calc(env(safe-area-inset-bottom) + 200px);
}
